/* Other rules */
.App {
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1280px;
  margin: 20px auto;
}
/*------------------------------------------------------*/
/*-------------------------HEADER-----------------------*/
/*------------------------------------------------------*/

.header {
  height: 60px;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo img {
  height: 40px;
}

.header .header-buttons-container {
  display: flex;
}
.header .header-buttons-container .header-buttons {
  background-color: #fff;
  height: 30px;
  width: 115px;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  font-family: "Maison Neue";
  font-size: 12px;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .header-buttons-container a {
  outline: none;
  text-decoration: none;
}

.header .header-buttons-container .sign-in-button {
  margin-right: 20px;
  color: #2cb1ba;
}
.header .header-buttons-container .login-button {
  color: #2cb1ba;
  margin-right: 70px;
}
.header .header-buttons-container .explore-button {
  color: #fff;
  background-color: #2cb1ba;
}
/*------------------------------------------------------*/
/*-------------------------HERO-----------------------*/
/*------------------------------------------------------*/
.hero {
  margin-bottom: 25px;
}

/*------------------------------------------------------*/
/*-------------------------OFFERS-----------------------*/
/*------------------------------------------------------*/
.home .offers {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.home .offers a {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}
.home .offers .offer {
  padding: 10px;
  box-sizing: border-box;
  color: #000000;
  outline: none;
  width: calc(100% / 4 - 12px);
}
.home .offers .offer a {
  outline: none;
}

.home .offers .offer .offer-product-picture img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.home .offers .offer .offer-details {
  color: #000000;
  padding: 10px;
  box-sizing: border-box;
}
.home .offers .offer .offer-details .offer-product-price {
  font-size: 15px;
  margin-bottom: 5px;
}
.home .offers .offer .offer-details .offer-product-name {
  color: #999;
  font-size: 14px;
}
/*------------------------------------------------------*/
/*-------------------------OFFER-----------------------*/
/*------------------------------------------------------*/
.offer-container {
  flex: 1;
  background-color: #ebedee;
  padding-top: 50px;
  box-sizing: border-box;
}
.product {
  display: flex;
  justify-content: space-around;
}
.product .offer-picture {
  flex: 1;
  margin: 0 100px;
}
.product .offer-picture img {
  width: 400px;
  height: 550px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(26, 25, 25, 0.3) 0px 1px 4px;
}
/*------------------------------------------------------*/
/*-------------------------OFFER CART-----------------------*/
/*------------------------------------------------------*/
.product .offer-cart {
  flex: 1;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 100px;
  box-shadow: rgba(26, 25, 25, 0.16) 0px 1px 4px;
}
.product .offer-cart .offer-cart-cart {
  border-bottom: #e5e5e5 solid 1px;
  height: 200px;
}
.product .offer-cart .offer-price {
  color: #666;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.product .offer-cart .offer-name {
  color: #666;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

.product .offer-cart .offer-details .details-line {
  height: 20px;
}
.product .offer-cart .offer-details .detail-name {
  margin-right: 30px;
  color: #999;
  width: 100px;
  font-size: 14px;
  text-transform: uppercase;
}
.product .offer-cart .cart-validate .validate-button {
  /* justify-content: center; */
  color: #fff;
  background: #09b1ba;
  border: 1px solid #09b1ba;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  height: 36px;
  padding: 0 16px;
  line-height: 36px;
  margin-top: 32px;
  text-align: center;
  cursor: pointer;
  outline: none;
}
.publisher {
  margin-top: 20px;
  margin-bottom: 20px;
}
.publisher-avatar {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.publisher-avatar img {
  width: 50px;
  border-radius: 50%;
  margin-right: 30px;
}
.publisher-avatar .publisher-avatar-name {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  background-color: #8c6e63;
  font-size: 18px;
  margin-right: 30px;
}
/*------------------------------------------------------*/
/*-------------------------LOGIN-----------------------*/
/*------------------------------------------------------*/
.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
.login-form form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login-form form input {
  width: 300px;
  margin-bottom: 20px;
}
.login-form .display-error {
  color: red;
}

/*------------------------------------------------------*/
/*-------------------------SEARCH-----------------------*/
/*------------------------------------------------------*/
.search-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.search-container .search-input {
  background-color: #f5f6f7;
  border-radius: 5px;
  height: 37px;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 1px 10px;
  width: 80%;
  box-sizing: border-box;
}
.search-container .range-filter {
  flex: 2;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
}
.search-container .input-search {
  flex: 2;
}
.search-container .display-order {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2cb1ba;
}

input:focus + .slider {
  box-shadow: 0 0 #2cb1ba;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.search-container .min-max-range {
  background-color: #2cb1ba;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  box-sizing: border-box;

  font-size: 15px;
}

/*------------------------------------------------------*/
/*-------------------------PUBLISH-----------------------*/
/*------------------------------------------------------*/

.publish-offer-form {
  width: 50%;
  margin: 50px auto;
}
.publish-offer-form form {
  display: flex;
  flex-direction: column;
}
.publish-loaded-image {
}
.publish-loaded-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

/*------------------------------------------------------*/
/*-------------------------FOOTER-----------------------*/
/*------------------------------------------------------*/

.footer {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
